html {
  min-width: 320px;
  min-height: 100%;
  background: #ffffff;
}

body {
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  background: #ffffff;
}

#root {
  min-width: 320px;
  min-height: 100vh;
  background: #ffffff;
}

* {
  box-sizing: border-box;
}